/*----Universal----*/


/*===============================
            clearfix
===============================*/


/*============================
        Base styles
===============================*/

.header {
  background-color: beige;
}

.header-pone {
  display: block;
  font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1400 - 320)));
  margin: 1em 0;
  text-align: center;
}

.header-ptwo {
  display: none;
  font-size: calc(16px + (30 - 16) * ((100vw - 320px) / (1600 - 320)));
  margin-bottom: 1em;
}

.portfolio {
  font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1600 - 320)));
}

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6;
}

ul {
  padding-left: 0;
}

h2,
h3 {
  font-family: 'Inconsolata', sans-sans-serif;
}

footer {
  margin-bottom: 0;
}



/*=============================
      Base Layout Styles
================================*/
.main-header {
  background-color: beige;
  padding-bottom: 1em;
  text-align: center;
}

.name {
  font-size: calc(32px + (50 - 32) * ((100vw - 320px) / (1600 - 320)));   /*fluid font equation source https://css-tricks.com/books/volume-i/scale-typography-screen-size/*/
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 16px;
}

.profile-image {
  width: 100%;
}

.main-nav a {
  border: 6px;
  color: black;
  display: block;
  text-decoration: none;
}

.main-nav li {
  background-color: beige;
  display: block;
  font-size: calc(14px + (22 - 14) * ((100vw - 320px) / (1600 - 320)));
  list-style-type: none;
  margin: 0.5em;
  padding: 6px;
  text-align: center;
}

.skill-div {
  background-color: #FFFDD0;
  display: block;
  text-align: center;
}

.skill {
  font-size: calc(22px + (30 - 22) * ((100vw - 320px) / (1600 - 320)));
  margin-bottom: .5em;
  margin-top: 0;
  padding-top: 1em;
}

.skill-img {
  padding-bottom: 1.5em;
  width: 50%;
}

.portfolio {
  margin-top: 1em;
  text-align: center;
}

.wrapper img {
   align-content: center;
   border-radius: 1em;
   height: 80%;
   margin: 20px 0;
   width: 100%;
}

.wrapper {
  margin: 1em;
  text-align: center;
}

.heading {
  font-size: calc(20px + (28 - 20) * ((100vw - 320px) / (1600 - 320)));
}

.wrapper a,
 footer a {
  color: black;
  display: block;
  text-decoration: none;
}

a:hover {
  color: #3F74BF;
}

.wrapper p {
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 320)));
}

.calculator-p {
  margin-bottom: 1em;
}

.contact-all {
  text-align: center;
}

.contactall,
 footer {
  background-color: beige;
}

.contact {
    font-family: 'Inconsolata', sans-serif;
    font-size: calc(10px + (17 - 10) * ((100vw - 320px) / (1600 - 320)));
    margin-bottom: 0;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
}

.contact-h {
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1600 - 320)));
  margin-bottom: 1em;
  margin-top: .75em;
  text-align: center;
}

.contact-p {
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 320)));
  text-align: center;
}

.contact a {
  color: black;
  text-decoration: none;
}

.contact a:hover {
  color:  #3F74BF;
}

footer {
  background-color: beige;
  font-size: calc(12px + (16 - 12) * ((100vw - 320px) / (1600 - 320)));
  overflow: hidden;
  padding-top: 2em;
}

.footer-h {
  float: left;
  margin-left: 8px;
}

.footer-ul{
  display: none;
}

.top {
  background-color: beige;
  float: right;
}

/*================
.footer-ul {
   float: right;
}

.footer-ul li{
  display: inline-block;
  margin-right: 8px;
  padding-left: 4px;
  padding-right: 4px;
  text-decoration: none;
}
============*/

/*=============================
        Media Queries
==============================*/
@media only screen and (min-width: 768px) {

  .header {
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
    padding-bottom: 1em;
  }

  .name {
    padding-top: .5em;
  }

  .main-nav ul {
    background-color: beige;
  }

  .main-nav li {
    display: inline-block;
    background-color: white;
    border: black solid 1px
    -webkit-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
    margin-top: 0;
  }

  .profile-image {
    float: right;
    margin-right: 1.3em; 
    width: 40%
  }

  .header-p2 {
    width: 65%;
  }

  .header-img-p {
    text-align: left;
  }

  .portfolio {
    margin: 1em 0;
  }

  .wrapper div {
    float: right;
    margin-bottom: 1.5em;
    margin-left: .4em;
    margin-right: .4em;
    width: 48%;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.top {
  display: none;
}

 .contactall,
 footer {
   background-color: beige;
 }

 .footer-ul {
   display: contents;
 }

 .footer-ul li {
   float: right;
 }

 .footer-ul li{
   background-color: white;
   border: black solid 1px;
   -webkit-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
   box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.75);
   display: inline-block;
   margin: .75em;
   padding: .33em;
   text-decoration: none;
 }
}

@media only screen and (min-width: 1024px) {

  .header-top {
    width: 100%;
  }

  .name {
    float:left;
    overflow: auto;
    padding-left: 1em;
  }

  .main-nav {
    float: right;
    padding-top: 1.5em;
  }

  .main-nav ul{
    margin-right: 1.5em;
  }

  .profile-image {
    width: 35%;
  }

  .header-pone {
    display: none;
  }

  .header-ptwo {
    display: inline-block;
    margin-left: 1.5em;
    margin-top: 1em;
    text-align: left;
    width: 60%;
  }

  .skill-img {
    padding-bottom: 1.5em;
    width: 45%;
}

  .wrapper div {
    display: inline-block;
    width: 31.8%;
  }
}
