/*----Universal----*/
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      overflow-x: hidden;
      vertical-align: baseline;
      background: transparent;
  }

/*============================
        Base styles
===============================*/
body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6;
}

ul {
  padding-left: 0;
}

h2,
h3 {
    font-family: 'Inconsolata', sans-sans-serif;
}

footer {
  margin-bottom: 0;
}



/*=============================
      Base Layout Styles
================================*/
.main-header {
  text-align: center;
  background-color: beige;
  max-width: 100%;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.name {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 16px;
}

.profile-image {
  width: 100%;
}

.main-nav a {
  display: block;
  border: 6px;
  color: black;
  text-decoration: none;
}

.main-nav li {
  display: block;
  list-style-type: none;
  text-align: center;
  background-color: beige;
  margin: 0.5em;
  padding: 6px;
}

#portfolio {
  text-align: center;
}

.wrapper img {
   align-content: center;
   width: 100%;
   height: 80%;
   margin: 20px 0;
}

.wrapper p,
.wrapper h2,
         h3,
         h1 {
  text-align: center;
}

.wrapper p,
.wrapper h2 {
  margin: 1em;
}

.wrapper h2 {
  font-size: 20px;
}

.wrapper a,
footer a {
  text-decoration: none;
  color: black;
  display: block;
}

a:hover {
  color: #3F74BF;
}

.wrapper p {
    font-size: 14px;
}

.contact {
    font-family: 'Inconsolata', sans-serif;
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
}

#contact-h {
  margin-top: 2.5em;
  margin-bottom: 1em;
}

#contact-p {
  text-align: center;
  font-size: 14px;
}

footer {
  margin-top: 5.5em;
  font-size: 12px;
}
#footer-h {
  float: left;
  margin-left: 8px;
}

#footer-ul {
  float: right;
}

#footer-ul li{
  display: inline-block;
  text-decoration: none;
  padding-left: 4px;
  padding-right: 4px;
  margin-right: 8px;
}


/*=============================
        Media Queries
==============================*/
@media (min-width: 768px) {

  .main-nav ul {
    background-color: beige;
  }

  .main-nav li {
    display: inline-block;
  }

  .profile-image {
    display: inline-block;
    width: 35%;
    float: right;
  }

    #header-p {
    display: inline-block;
    font-size: 120%;
    width: 65%;
    margin-top: 1em;
  }

  .header-img-p {
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 2em;
    display: inline-block;
  }

  #portfolio {
    margin: 1em 0;
    font-size: 20px;
  }

  .wrapper div {
    display: inline-block;
    width: 48%;
    margin-left: .4em;
    margin-right: .4em;
  }

  .marketing-page {
  float: right;
 }

 .spot-map {
   float: right;
 }

 .calculator {
   float: right;
 }

 .contactall,
 footer {
   background-color: beige;
 }

footer {
  margin-top: 0;
  padding-top: 4em;
  }
}

@media (min-width: 1024px) {
  .wrapper div {
    display: inline-block;
    width: 32%;
    margin-left: .4em;
    margin-right: .4em;
  }


}
