/*----Universal----*/
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      font-size: 100%;
      vertical-align: baseline;
      background: transparent;
  }

/*============================
        Base styles
===============================*/
body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6;
}

ul {
  padding-left: 0;
}

h2,
h3 {
    font-family: 'Inconsolata', sans-sans-serif;
}



/*=============================
      Base Layout Styles
================================*/
.main-header {
  text-align: center;
  background-color: beige;
  max-width: 100%;
}

.name {
  margin-top: 0;
  margin-bottom: 0;
}

.profile-image {
  width: 100%;
}

.main-nav li {
  display: block;
  list-style-type: none;
  text-align: center;
  background-color: beige;
  margin-bottom: 1em;
  margin-top: 8px;
}

.wrapper img {
   align-content: center;
   width: 100%;
   height: 80%;
   margin-right: 0;
   margin-left: 0;
   margin: 20px 0;
}

.wrapper p,
.wrapper h2,
         h3,
         h1 {
  text-align: center;
}

.wrapper p {
  font-size: 14px;
}

.contact {
    font-family: 'Inconsolata', sans-serif;
}


/*=============================
        Media Queries
==============================*/
